@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
 
 .demo-wrap {
  background-image: url('assets/numbers-g2d5f1658f_1920.jpg');
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
} 

.container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(242, 217, 233);
  /* linear-gradient(red, transparent),
  linear-gradient(to top left, blue, transparent),
  linear-gradient(to top right, lime, transparent); */
   
  width: 800px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Roboto Slab';
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 50px; 
}

#guess-btn:hover {
  background: linear-gradient(red, transparent),
  linear-gradient(to top left, blue, transparent),
  linear-gradient(to top right, lime, transparent);
  background-blend-mode: screen;
  color: white;
  border-color: white;
}

#guess-btn {
  color: black;
  border-color: black;
}

p {
  font-size: larger;
}

.message {
  font-size: larger;
}