html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: right;
  color: rgb(17, 235, 17);
  background-color: rgba(10, 168, 180, 0.686);
};

